@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #06385c;
}
.input-field {
  @apply border border-gray-300 px-3 py-2 rounded-lg focus:outline-none focus:border-blue-500;
}
.activeSidebar {
  color: #022136d5;
  background-color: #f5fafe;
}
::placeholder {
  font-size: 0.8rem;
}
label,
select,
input[type="date"] {
  font-size: 0.9rem;
}
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #06385c;
}
table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
.thContract {
  padding: 10px;
  font-size: 0.9rem;
  min-width: 150px;
  font-weight: 400;
  border-bottom: 1px solid #d1d0d0;
  text-align: center;
}
th,
td {
  padding: 10px;
  font-size: 0.9rem;
  min-width: 170px;
  text-align: start;
}
/* // login */
.bgLogin {
  background: linear-gradient(#06385c, #5961f9);
}
.containerImage::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background: linear-gradient(#2276fc, #06385c);
  top: 0;
  right: -100px;
  border-radius: 50%;
}
.containerImage::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background: linear-gradient(#06385c, #5930f3d1);
  top: -50px;
  left: 0;
  border-radius: 50%;
}
/* // react-phonr-number */
.form-control {
  background-color: transparent !important;
  height: 42px !important;
  width: 100% !important;
}

.flag-dropdown {
  background-color: transparent !important;
  color: black !important;
}
/* // partner */
.shadowPartner {
  box-shadow: -2px 4px 17px -5px rgba(168, 166, 163, 0.29);
}
.shadowWork {
  -webkit-box-shadow: 0px 1px 15px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 15px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 15px -6px rgba(0, 0, 0, 0.75);
}
